force-app/main/default/flows/Get_Properties.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <collectionProcessors>
        <name>Filter_Price</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Price</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Filter_Price</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>propertyList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Price.Current_Price__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>budget</elementReference>
            </rightValue>
        </conditions>
    </collectionProcessors>
    <decisions>
        <name>Check_Budget</name>
        <label>Check Budget</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_In_Range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>budget</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Price</targetReference>
            </connector>
            <label>Price In Range</label>
        </rules>
    </decisions>
    <description>This flow returns a list of properties based on given criteria e.g. search key, budget, location, and search type</description>
    <environments>Default</environments>
    <interviewLabel>Get Properties {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Properties</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Properties</name>
        <label>Get Properties</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Budget</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Additional_Description__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>searchKey</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__City__s</field>
            <operator>Contains</operator>
            <value>
                <elementReference>location</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__CountryCode__s</field>
            <operator>Contains</operator>
            <value>
                <stringValue>0df7fd39-43b4-4b87-934b-caf8fcdc6d68</stringValue>
            </value>
        </filters>
        <filters>
            <field>Location__StateCode__s</field>
            <operator>Contains</operator>
            <value>
                <elementReference>location</elementReference>
            </value>
        </filters>
        <object>Property__c</object>
        <outputReference>propertyList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Current_Price__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Properties</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>budget</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Price</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>searchKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>searchType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
