force-app/main/default/flows/Get_Scheduled_Inspection_Times.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_End_Date_Time</name>
        <label>Format End Date Time</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <actionName>DateTimeConverterController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Available_Slots</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTimeVar</name>
            <value>
                <elementReference>Process_Events.End_Date_Time__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formatString</name>
            <value>
                <stringValue>h:mm a</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DateTimeConverterController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_Start_Date_Time</name>
        <label>Format Start Date Time</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <actionName>DateTimeConverterController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_End_Date_Time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTimeVar</name>
            <value>
                <elementReference>Process_Events.Start_Date_Time__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formatString</name>
            <value>
                <stringValue>dd MMM yyyy h:mm a</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DateTimeConverterController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Available_Slots</name>
        <label>Set Available Slots</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AvailableTimes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AvailableDT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Events</targetReference>
        </connector>
    </assignments>
    <description>This flow returns available inspection times of the property</description>
    <environments>Default</environments>
    <formulas>
        <name>AvailableDT</name>
        <dataType>String</dataType>
        <expression>{!Format_Start_Date_Time} &amp; &quot; - &quot; &amp; {!Format_End_Date_Time} &amp; BR()</expression>
    </formulas>
    <interviewLabel>Get {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Scheduled Inspection Times</label>
    <loops>
        <name>Process_Events</name>
        <label>Process Events</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Scheduled_Inspection_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Format_Start_Date_Time</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scheduled_Inspection_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Property.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property</name>
        <label>Get Property</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>propertyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Inspection_Events</name>
        <label>Get Scheduled Inspection Events</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date_Time__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inspection_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Property</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AvailableTimes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>propertyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
